div {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 2%;
  padding: 2%;
  display: inline-block;
  transition: 2s ease;
}
div:focus {
  background-color: #ffff00;
}
div:hover {
  width: 200px;
  background-color: #800040;
}
.animate {
  background: #92b901;
  transition: transform 1s;
  border-radius: 5px;
  -o-transition-property: width, height, -o-transform, opacity;
  -o-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
  -moz-transition-property: width, height, -moz-transform, opacity;
  -moz-transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
  transition-property: width, height, transform, opacity;
  transition-duration: 1s, 1s, 1s, 1s, 1s, 1s;
  opacity: 0.4;
}
.animate:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 1;
  background: #1ec7e6;
  width: 110px;
  height: 67px;
}
